/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/framework*
/plugin
/gameconfigs

# Ignore gradle files
#signing.properties

.idea/

# Gradle files
.gradle
build/
*/.gradle/
*/gradle/
*/build/
*/.idea/
*.iml
repo.properties
# ignore Libs dictionary
captures/
release-tools/
freeline/
freeline_core/
freeline.py
freeline_project_description.json

.project
.settings

app/libs/game.aar
gameconfigs/
/app/libs/*.aar
/app/libs/*.apk
/app/proguard-config.txt
/app/online/
/app/pre/
gbuild
/open_support/build/intermediates/

*/proguard-config.txt
/outputs/
/app/proguard-rules.pro
/.proguard_ws/
/.proguard_ws/*
gameConfig.xml
/app/game.keystore

/app/mapping.txt
/outputs_temp/
/app/src/main/java/com/heitu/na/test/InnerSDKMd5.java
/app/proguard-game.pro
buildSrc/src/main/groovy/com/qtt/build/shell/.DS_Store
tools/gapp_config_info.json
